@import "tailwindcss";


:root {
  --foreground: #171717;
  --main-team-color: rgba(128, 128, 128, 0.788);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #fdfdfd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Encode Sans Condensed', Helvetica, sans-serif;
}

.team-placeholder {
  position: relative;
  width: 652px;
  height: 372px;
}

.sub-streams {
  width: 100%;
  height: 100%;
}

.team-name {
  font-family: 'Encode Sans';
  font-size: 52px;
  font-weight: 1000;
  text-shadow: 12px 30px 30px black; 
  text-align: right;
  padding: .1rem;
}

.runner-name {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 10px 20px 30px black; 
  text-align: right;
  padding: 0.05rem;
}

.runner-pronouns {
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 5px 5px black; 
  text-align: right;
  padding: 0.2rem;
}

progress::-webkit-progress-value {
  background: goldenrod;
}

.rust {
  border-color: #592104;
}

.purple {
  border-color: purple;
}

.red {
  border-color: red;
}

.peach {
  border-color: #f6a192;
}

.mint {
  border-color: palegreen;
}

.pink {
  border-color: hotpink;
}

.cyan {
  border-color: cyan;
}

.gold {
  border-color: gold;
}

Link .front-page {
  font-size: 64px;
}

.team-control {
  width: auto;
  height: 180px;
}

.team-control #sm64 {
  transform: translate(0%, -20%);
}

.team-control *.not-running {
  filter:grayscale(100%);
}

.team-control *:hover {
  filter:var(--main-team-color);
}