@import "tailwindcss";

.curr-game {
    display: flex;
    position: relative;
    filter: drop-shadow(25px 20px 80px rgba(0, 0, 0, 0.95))
}

.main-text .team-name {
    word-spacing: 2px;
    font-size: 72px;
    text-align: center;
}

.main-text .runner-name {
    word-spacing: 2px;
    font-size: 72px;
    text-align: center;
}

.main-text .runner-info {
    word-spacing: 2px;
    font-size: 60px;
    text-align: center;
}

.in-progress {
    filter: grayscale(100%);
}

.incomplete {
    filter: brightness(0%);
}

.main-banner {
    width:  20vw;
    height: 100%;
}

.main-banner #sm64 {
    margin-top: 10%;
    padding: 0%;
}

.main-banner #sms {
    margin-top: 7.5%;
}

.main-banner #smg1 {
    margin-top: 5%;
}

.main-banner #smg2 {
    margin-top: 5%;
}

.main-banner #bk {
    margin-top: 10%;
}

.main-banner #bt {
    margin-top: 10%;
}

.main-banner #dk64 {
    margin-top: 5%;
}

.main-banner #c1 {
    margin-top: 5%;
}

.main-banner #c2 {
    margin-top: 5%;
}

.main-banner #c3 {
    margin-top: 5%;
}

.main-banner #s1 {
    margin-top: 7.5%;
}

.main-banner #s2 {
    margin-top: 5%;
}

.main-banner #s3 {
    margin-top: 5%;
}

.main-banner.rust-banner {
    background: url("/logos/team_emotes/rusty_bucket_babes.png") no-repeat scroll 30% 100%;
    background-size: 'cover';
    background-color: #833424;
    background-blend-mode: multiply;
}

.main-banner.purple-banner {
    background: url("/logos/team_emotes/grape_apes.png") no-repeat scroll 50% 100%;
    background-size: 'cover';
    background-color: rgb(53, 0, 53);
    background-blend-mode: multiply;
}

.main-banner.red-banner {
    background: url("/logos/team_emotes/silly_willies.png") no-repeat scroll 40% 100%;
    background-size: 'cover';
    background-color: rgb(161, 0, 0);
    background-blend-mode: multiply;
}

.main-banner.peach-banner {
    background: url("/logos/team_emotes/peach_and_co.png") no-repeat scroll 90% 100%;
    background-size: 'cover';
    background-color: rgb(104, 68, 62);
    background-blend-mode: multiply;
}

.main-banner.mint-banner {
    background: url("/logos/team_emotes/mintallyinsane.png") no-repeat scroll 0% 100%;
    background-size: 'contain';
    background-color: rgb(67, 110, 67);
    background-blend-mode: multiply;
}

.main-banner.pink-banner {
    background: url("/logos/team_emotes/hot.png") no-repeat scroll 30% 100%;
    background-size: 'contain';
    background-color: rgb(99, 0, 51);
    background-blend-mode: multiply;
}

.main-banner.cyan-banner {
    background: url("/logos/team_emotes/green_tea_m.png") no-repeat scroll 40% 0%;
    background-size: 'contain';
    background-color: rgb(0, 153, 153);
    background-blend-mode: multiply;
}

.main-banner.gold-banner {
    background: url("/logos/team_emotes/gaslight.png") no-repeat scroll 15% 100%;
    background-size: 'contain';
    background-color: rgb(77, 59, 13);
    background-blend-mode: multiply;
}

.main-banner.gold-banner p.team-name, .main-banner.peach-banner p.team-name {
    font-size: 72px;
}